@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding-top: 2em;
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 15px;
}

.cars {
	display: flex;
	flex-direction: row;
	min-width: 300vh;
	justify-content: center;
	border-radius: 20px;
}

.carsSedan {
	background: hsl(31, 77%, 52%);
}

.carsSUV {
	background-color: hsl(184, 100%, 22%);
}

.carsLuxury {
	background-color: hsl(179, 100%, 13%);
}

.carsSedanPara,
.carsSUVPara,
.carsLuxuryPara {
	color: hsla(0, 0%, 100%, 0.75);
}

.carsSedanTitle,
.carsSUVTitle,
.carsLuxuryTitle {
	color: hsl(0, 0%, 95%);
}

.carsSedan,
.carsSUV,
.carsLuxury {
	/* top | right | bottom | left */
	padding: 2em 2em 2em 2em;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
